*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 62.5%;
}
header{
    width: 100%;
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: right;
}
header ul{
    align-items: center;
    height: auto;
    width: 25rem;
    display: flex;
    justify-content: right;
}
header ul li{
    list-style: none;
    font-size: 1.3rem;
    margin-right: 1rem;
    cursor: pointer;
    padding: 0 1.2rem;
}
header ul li a{
    color: #000;
    text-decoration: none;
    justify-content: center;
    display: flex;
}
.memu-icon{
    background-image: url('https://img.icons8.com/material-outlined/24/000000/squared-menu.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.2rem;
    height: 2.2rem;
}
.menu-img{
    border-radius: 50%;
}
main{
    width: 100%;
    height: 70vh;
    align-items: center;
    text-align: center;
    margin-top: 8rem;
}
.main-logo{
    display: block;
}
main .main-logo img{
    width: 27rem;
    height: 9.2rem;
}
main .main-input{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
main .main-input-container{
    width: 56rem;
    height: 3.9rem;
    border-radius: 10rem;
    display: flex;
    border: 0.1rem solid #dfe1e5;
    justify-content: center;
    align-items: center;
}
main .main-input-container:hover{
    box-shadow: 0 0.1rem 0.6rem 0 #20212447;
    border-color: #dfe1e500;
}
main .main-input input{
    width: 100%;
    border: none;
    height: 3.4rem;
    outline: none;
}
main .main-input .search-icon{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAB10lEQVRIidWUTWsTURSGn3NnkqbQ2p1/wOgvKK51nyIVEZpZhCk0WRV0Y3WjNW4MghWKSKfQOIUxYMGv+C/8+AFSf4EuamlQ6qTHxYy0thnn9mPTd3W53Pc87zlzGDjtkkGXz1ZXzzo7zixIBTgPoPDFiLx3+s7i9PT1b0cGLIeda6q6AoxmeDZF1Z/xvVc2ADOg+Mu0+BsMl0omHimZeERULqPyFjijImtB2Jk8VAfJWNx1YFSUWzN+9dEgQxBGc6g8BH5okXKjWv1u1UEy8yR5VnGAes1rKXSBMdlmNq+D3RGJTKQ3T/JMiC4AKEzYA5RzAL9L7qc8kxv/+gggULYHgOY9/qve0NDA9c4DfAUo9vrjeabhbTOeJlq3BohINzXdyDOpkZvJQd9ZA5y+swhsInolCKO5LEPw/MUd0AqwUdDC0zzAP7NcbkdXVWQNMApdRBfi4cIHgOJWfDFJrpUkvN5t+N6DQwEAgrAziWobGMvwbKjqYxFppqD7Dd+bzwKY/Rf12tRrLVIGmqCfgS2gl56b7o57YW9yEbm31I4yAdbrtl97fhmJVFp1f+r2iQFsIccC2ECODciDHPjIR1G95rUQ3U1t+HkSdQ9oqR3N/2+jTqf+AJ2utxBHtWyeAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2rem;
    height: 2rem;
}
main .main-input .microfono-icon{
    background-image: url('https://cdn-icons.flaticon.com/png/512/3128/premium/3128290.png?token=exp=1637331130~hmac=dcdd1b15b32139a2276187648823fb4f');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    padding: 0 1rem;
}
.main-buttons{
    display: flex;
    justify-content:center;
    width: 100%;
    padding-top: 1.8rem;
}
.main-buttons button{
    margin: 0.4rem 1.1rem;
    padding: 0 1.6rem ;
    height: 3.4rem;
    border: 0.1rem solid #b6b9b6;
    font-size: 1.4rem;
    border-radius: 0.4rem;
    cursor: pointer;
    background-color: #f8f9fa;
    border: 0.1rem solid #f8f9fa;;
}
.main-buttons button:hover{
    box-shadow: 0 0.1rem 0.6rem 0 #20212447;
    border:1 solid #20212447;
}
footer{
    width: 100%;
    height: 5rem;
    position: absolute;
    font-size: 1.3rem;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    border-top: 0.1rem solid #e4e4e4;
}
footer ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
footer ul li{
    color: #7a7a7a;
    list-style: none;
    padding: 0 1.8rem;
}
footer ul li a{
    text-decoration: none;
    color: #7a7a7a;
}
footer ul li:hover{
    cursor: pointer;
    color: #7a7a7a;
    text-decoration: underline;
}
@media screen and (max-width:950px){
    footer ul li{
        padding: 0.5rem;
        font-size: 1.3rem;
    }
}
@media screen and (max-width:780px){
main .main-logo img{
    width: 22rem;
    height: 7.2rem;
}
main .main-input-container{
    width: 46rem;
    height: 3.9rem;
}
main .main-input .search-icon{
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 1rem;
}
main .main-input .microfono-icon{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}
footer ul li{
    padding: 0.5rem;
    font-size: 1.2rem;
}
}
@media screen and (max-width:630px){
    footer{
        display: none;
    }
}
@media screen and (max-width:480px){
    header ul li{
        padding: 0 0.5rem;
    }
    main .main-logo img{
        width: 18rem;
        height: 6rem;
    }
    main .main-input-container{
        width: 35rem;
        height: 3.9rem;
    }
    main .main-input .search-icon{
        width: 1.8rem;
        height: 1.8rem;
        margin-left: 1rem;
    }
    main .main-input .microfono-icon{
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
    }
    footer{
        display: none;
    }
}